@model SchoolProject_1_w2022.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<h2>Show Teacher</h2>

<div>First Name: @Model.TeacherFName</div>
<div>Last Name: @Model.TeacherLName</div>


    Todo: join Date
